@font-face {
	font-family: 'Monserrat Regular';
	src: url('fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Monserrat Medium';
	src: url('fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Monserrat Bold';
	src: url('fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Monserrat Regular', sans-serif;
	font-size: 16px;
	outline: none;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*Header*/
.header {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 30px;
	width: 100%;
	z-index: 10;
}

.header__left {
	float: left;
}

.header__right {
	float: right;
}

.header__logo {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
}

.header__nav {
	margin-left: 28px;
	display: inline-block;
}

.header__item {
	display: inline-block;
}

.header__item:not(:last-child) {
	margin-right: 24px;
}

.header__link {
	color: #fff;
}

.header__btn {
	width: 120px;
	height: 40px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: transparent;
}

/*hero block*/
.hero {
	padding-top: 275px;
	padding-bottom: 244px;
	position: relative;
	background-image: url('img/first-img.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero__heading {
	margin-bottom: 37px;
	text-align: center;
	font-size: 72px;
	font-weight: 500;
	letter-spacing: 1.8px;
	color: #fff;
}

.hero__descr {
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.75px;
	color: #fff;
}

.hero__form {
	position: absolute;
	left: 50%;
	bottom: -27px;
	transform: translateX(-50%);
	width: 973px;
	font-size: 0;
	z-index: 8;
}

.hero__input {
	padding-left: 32px;
	width: 34.5%;
	height: 55px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
}

.hero__input::placeholder {
	color: #818181;
}

.hero__input:nth-child(2) {
	border-left: none;
	border-right: 0;
}

.hero__input--small {
	width: 19%;
}

.hero__btn {
	width: 12%;
	height: 55px;
	border: none;
	background-color: #ff4b64;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.15s;
}

.hero__btn:hover {
	background-color: #212438;
	transition: background-color 0.15s;
}

/*Flights block*/
.flights {
	padding-top: 102px;
	background-color: #fff;
}

.flights__heading {
	float: left;
	font-size: 30px;
	color: #484848;
}

.flights__top {
	margin-bottom: 59px;
}

.flights__items {
	float: right;
}

.flights__item {
	display: inline-block;
}

.flights__item:not(:last-child) {
	margin-right: 25px;
}

.flights__link {
	font-size: 16px;
	line-height: 35px;
	color: #484848;
}

.flights__link--active {
	font-weight: 700;
	color: #ff4b64;
}


.flights__table {
	width: 100%;
}

.flights__table table {
	margin-bottom: 47px;
	width: 100%;
	border-collapse: collapse;
}

.flights__table table thead {
	border-bottom: 1px solid #e6e6e6;
}

.flights__table table thead td {
	padding-bottom: 36px;
	text-align: center;
}

.flights__table table thead td:first-child {
	padding-right: 30px;
	text-align: left;
}

.flights__table table tbody td {
	padding-top: 50px;
	padding-bottom: 39px;
	border-bottom: 1px solid #e6e6e6;
	vertical-align: middle;
	text-align: center;
}

.flights__table table tbody td:first-child {
	text-align: left;
}

.flights__table table tbody td:last-child {
	text-align: right;
}

.flights__table table tbody td img {
	display: inline-block;
	vertical-align: middle;
}

.flights__table-text {
	margin-left: 24px;
	display: inline-block;
	vertical-align: middle;
}

.flights__table table tbody td span {
	margin-top: 14px;
	display: block;
	color: #9a9a9a;
}

.flights__table table tbody td button {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	background-color: transparent;
	border: 1px solid #ff4b64;
	color: #ff4b64;
}

.flights__table--link {
	text-align: right;
}

.flights__table--link a {
	font-size: 16px;
	color: #484848;
}